body {
    margin:0;
    padding:0;
}

.box {
    top: -20px;
    left: -40px;
    position: fixed;
    width: 200px;
    height: 100px;
    background: #eee;
    text-align: center;
}

.box-2 {
    height: 200px;
    background: #eee;
    left: 10%;
    width: 80%;
    position: relative;
    text-align: center;
}

.box-3 {
    position: absolute;
    background: #999;
    height: 50%;
    width: 40%;
    text-align: center;
    right: -5%;
    top: 50%;
}

.text {
    padding-left: 10%;
    padding-right: 10%;
    z-index: -1;
}